body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }
  
  header {
    background-color:#333;
    color: #fff;
    padding: 20px;
  }
  
  
  
   ul li {
    display: inline;
    margin-right: 10px;
  }
  
   ul li a {
    color:burlywood;
    text-decoration: none;
  }
  
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
  }
  
  #home img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
  }
  
  #portfolio{
    background-color: antiquewhite;
    padding: 10px;
  }
  li{
    display: inline;
    margin-right:10px ;
  }